<% @places.each do |place| %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'burger-neon-sign.jpg', class: 'd-block img-fluid' %>
          <div class="carousel-caption d-none d-md-block">
            <h3>Find some the best and tasty food all around!</h3>
          </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'waterfall2.jpg', class: 'd-block img-fluid' %>
          <div class="carousel-caption d-none d-md-block">
            <h3>Like Bob Ross said "Just let go and fall like a waterfall." Want to travel to places </h3>
          </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'chicago.jpg', class: 'd-block img-fluid' %>
          <div class="carousel-caption d-none d-md-block">
            <h3>make sure to write a caption!!!!</h3>
          </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'snow-on-trees.jpg', class: 'd-block img-fluid' %>
          <div class="carousel-caption d-none d-md-block">
            <h3>make sure to write a caption here too!!!</h3>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  

  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  </div>
<% end %>

<div class="digg_pagination col-10 offset-1">
  <div class="pagination">
    <%= will_paginate @places %>
  </div>
</div>

